@media (max-width: 31.25em) {
	body {
		gap: 0.4rem;
	}

	header {
		padding: 1rem 0;
		flex-direction: column-reverse;
		gap: 0;
	}

	.logo {
		width: 10rem !important;
		height: 10rem !important;
	}

	main {
		padding-bottom: 4rem;
	}
}
